$mainColor: #ea5f2a;
$greenColor: #22b14c;
$redColor: #d62a33;
$blackColor: #312f25;
$backColor: #f3f3f3;
$whiteColor: #ffffff;
$grayColor: #757575;
$darkYellow: #c59e00;
$darkYellow2: #dbb000;
$greenColor: #00c8b3;
$orangeColor: #ea5f2a;